<launch>
    <arg name="laser_scan" default="/scan" />
    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>
    
    <node pkg="edge_leg_detector" type="detector" name="edge_leg_detector" output="screen">
        <param name="laser_scan" value="$(arg laser_scan)" type="string"/>
    </node>

</launch> 
